*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --error-color: #000000;
}

body.dark-mode {
    --background-color: #1F2023;
    --text-color: #EAEAEA;
    --menu-background-color: #7F5AF0;
    --menu-text-color: #F5F3FF;
}

body.light-mode {
    --background-color: #F8F9FA;
    --text-color: #212529;
    --menu-background-color: #7F5AF0;
    --menu-text-color: #F5F3FF;
}


body {
    visibility: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Inter, serif;
}

.menu-item {
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
}

a:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav > ul > li > a {
    color: var(--menu-text-color);
    text-decoration: none;
    font-weight: bold;
}

#create-set, #edit-set, #learning-setup, #learn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-management {
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
}

form > .labeled-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


#set-name {
    width: 20%;
}

#set-description {
    width: 50%;
}

.set-management > table {
    width: 40%;
    padding-bottom: 50px;
}

.set-management > table th {
    text-align: left;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 15px;
}

.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: center;
}

.set-tile {
    width: 30vw;
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    border-radius: 8px;
    padding: 15px;
}

.set-tile:hover {
    cursor: pointer;
}

.set-management a {
    text-decoration: none;
    color: var(--menu-text-color);
}

.progress {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.question-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.wrong-answer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single-submit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}