html {
      background-color: rgb(232, 203, 127);
      height: 100vh;
}

body {
    margin: 40px;
    color: #085721;
}

#link_cw1,
#link_cw1:visited {
    color: rgb(0, 70, 255);
}

#link_cw2,
#link_cw2:visited {
    color: rgb(211, 0, 174);
}

#link_cw3,
#link_cw3:visited {
    color: rgb(0, 255, 14);
}

article {
    text-align: justify;
    column-gap: 40px;
    margin: 20px;
}

@media (max-width: 500px) {
    article {
        column-count: 1;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    article {
        column-count: 2;
    }
}

@media (min-width: 1001px) {
    article {
        column-count: 3;
    }
}

article p {
    margin-top: 0;
}
footer img {
    margin: 20px;
}

@media (max-width: 400px) {
    footer img {
        width: 50vw;
    }
}

@media (min-width: 401px) {
    footer img {
        width: 200px;
    }
}

a[id] {
    text-decoration: none;
    color: #085721;
    transition: color ease-in 0.2s;

}

a[id]:visited {
    color: #085721;
}

a[id]:hover {
    color: #b10303 !important;
}

a[id]:active {
    color: #7a0000 !important;
}

article #author {
    color: #8e0b0b;
    font-style: italic;
}
article h1 {
    font-weight: bold;
    margin-bottom: 0;
}

article h1, article #author {
    column-span: all;
    font-weight: bold;

}

table, th, td {
    border: black solid 2px;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.square_row {
    display: flex;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 20px;
}

.square img {
    margin: 0;
}

#sq1 {
    background-color: red;
}

#sq2 {
    background-color: yellow;
}

#sq3 {
    background-color: green;
}

#sq4 {
    background-color: grey;
}

#sq5 {
    background-color: orange;
}

.window {
    background-color: blue;
    position: absolute;
}
