.comment {
    width: 45%;
    border-radius: 50px;
    background-color: rgb(62, 59, 59);
    color: #c8c8c8;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    font-family: "Segoe UI", system-ui;
}

.comment > h2 {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 35px;
}
